<div id="contenido" #contenido>
<div class="album py-5" align="center">
  <div class="container">

    <h2>Postres</h2>

    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <!-- <img src="{{imagen1}}" title="Torta de Chocolate" alt="Torta de Chocolate"> -->
          IMAGEN_1
          <div class="card-body">
            <p class="card-text">Torta de Chocolate</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <!-- <img src="{{imagen2}}" title="Pie de Manzana" alt="Pie de Manzana"> -->
          IMAGEN_2
          <div class="card-body">
            <p class="card-text">Pie de Manzana</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <!-- <img src="{{imagen3}}" title="Arroz con Leche" alt="Arroz con Leche"> -->
          IMAGEN_3
          <div class="card-body">
            <p class="card-text">Arroz con Leche</p>
          </div>
        </div>
      </div>


    </div>

  </div>

  <button (click)="generarPDF()" class="btn btn-info">Crear PDF</button>

</div>
</div>
