
            <form #Facturacion="ngForm" (ngSubmit)="onSubmit(Facturacion)">
            <div class="form-row">
                 <!--<div class="form-group col">
                    <label>Banco</label>
                    <select class="form-control" name="banco" [(ngModel)]="Facturacion.nom_tarjeta" value=" ">
                        <option value=" "></option>
                        <option value="Santander Rio">Santander Rio</option>
                        <option value="Macro">Macro</option>
                        <option value="Galicia">Galicia</option>
                    </select>
                </div> -->
                <div class="form-group col">
                    <label>Nro Solicitud</label>
                    <input type="number" name="solicitud" class="form-control" required [(ngModel)]="Facturacion.solicitud"/>
                </div>
                <div class="form-group col-2">
                    <label>Tipo Pago</label>
                    <select class="form-control" name="banco" required [(ngModel)]="Facturacion.tipo_pago">
                        <option value=""></option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Tarjeta">Tarjeta</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <label>Tipo Factura</label>
                    <select class="form-control" name="banco" required [(ngModel)]="Facturacion.tipo">
                        <option value=""></option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="c">C</option>
                    </select>
                </div>
            </div>
           <!-- <div class="form-row">
                 <div class="form-group col-4">
                    <label>nro Tarjeta</label>
                    <input type="number" name="nro_tarjeta" class="form-control" value=" " [(ngModel)]="Facturacion.nro_tarjeta"/>
                </div>
                <div class="form-group col-4">
                    <label>cuenta</label>
                    <input type="number" name="cuenta" class="form-control" value=" " [(ngModel)]="Facturacion.cuenta"/>
                </div>
                <div class="form-group col-2">
                    <label>cantidad de cuotas</label>
                    <input type="number" name="cuotas" class="form-control" value=" " [(ngModel)]="Facturacion.cuotas"/>
                </div>
            </div>-->
            <!-- <div class="form-group form-check">

            </div> -->
            <div class="text-center btn">
                <button type="submit" class="btn btn-info">Cargar factura</button>
                <button class="btn btn-secondary" type="reset" [routerLink]="['/proveedor']">Cancel</button>
            </div>
        </form>

<div *ngIf="factura">
<div id="contenido" #contenido>
<div class="album py-5" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- <div class="card mb-4 shadow-sm"> -->
          <!-- <div class="card-body"> -->
            <ul>
              <li><span>DAMARFU S.A</span></li>
              <li><span>Echeverria 1392 Local</span></li>
              <li><span>Belgrano, Ciudad de Buenos Aires</span></li>
              <li><span>Tel.: 011-47817077</span></li>
              <li><span>Responsable Inscripto</span></li>
            </ul>
          </div>

      <div class="col-md-4">
        <!-- <div class="card mb-4 shadow-sm">
          <div class="card-body"> -->
            <p class="card-text">FACTURA {{fact.tipoFactura}}</p>
          <!-- </div>
        </div> -->
      </div>

      <div class="col-md-4">
        <!-- <div class="card mb-4 shadow-sm">
          <div class="card-body"> -->
            <ul>
              <li><span>Fecha: {{fact.fecha}}</span></li>
              <li><span>CUIT: 33708543409</span></li>
              <li><span>Belgrano, Ciudad de Buenos Aires</span></li>
              <li><span>Ingresos brutos: 9013825659</span></li>
              <li><span>Inicio de actividades: 01/11/2003</span></li>
          </ul>
          <!-- </div>
        </div> -->
      </div>

    </div>
    <div class="row">
        <div class="col-md-12">
      <a style="text-align: center;"><h3>Cliente</h3></a>
    </div>
    </div>
    <div class="row cliente">
        <div class="col-md-4">
              <ul>
                <li><span>Razón social: {{fact.razonSocialCli}}</span></li>
                <li><span>Domicilio: {{fact.domicilioCli}}</span></li>
              </ul>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h3></h3>
            <ul>
                <li><span>Teléfono: {{fact.telefonoCli}}</span></li>
                  <li><span>DNI:: {{fact.dni}}</span></li>
            </ul>
        </div>
    </div>

    <div class="row producto">

    </div>
    <div class="row importeFinal">
      <mat-toolbar>

      </mat-toolbar>

      <table class="table table-hover">
          <thead>
            <tr class="table-secondary">
              <th scope="col">cantidad</th>
              <th scope="col">codigo</th>
              <th scope="col">descripcion</th>
              <th scope="col">precioU</th>
              <th scope="col">importe</th>
              <!-- <th scope="col">direccion</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productos">
                <td>{{ item.cant }}</td>
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.precioU }}</td>
                <td>{{ item.importe }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="row">
          <div class="col-md-12 total">
            <a>Total: {{fact.importeTotal}}</a>
            </div>
      </div>

  </div>

  <button (click)="generarPDF()" class="btn btn-info">Generar PDF</button>

</div>
</div>
</div>
