<H2>Solicitud</H2>
<body>
<mat-card>
  <mat-card-header>
      Datos de la Solicitud
      <div *ngIf="!isValid" class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
      </div>
  </mat-card-header>
  <mat-card-content>
          <form #Solicitud="ngForm" (ngSubmit)="onSubmit(Solicitud)">
    <div class="row">
      <div class="form-group col-sm-4">
          <label>DNI:</label>
          <input class="form-control col-sm-5" type="number" pattern="[0-9]*" name="dni" id="dni"
          placeholder="xx-xxxxxxx-x"  placeholder="Dni del cliente" required [(ngModel)]="proveedor.dni">
      </div>
      <div class="form-group col-sm-4">
          <label for="lblnombre">Fecha:</label>
          <input class="form-control col-sm-5" name="fecha" [(ngModel)]="proveedor.fecha" placeholder="nombre" required>
      </div>
      <br>
    </div>
    </div>
      <div class="btn">
          <button type="button" [routerLink]="['/solicitud']" routerLinkActive="router-link-active"  class="btn btn-info">Cancelar</button>
          <button  type="submit" class="btn btn-info">Guardar</button>
      </div>
      </form>
  </mat-card-content>
</mat-card>

