<H2>Producto</H2>
<body>
<mat-card>
  <mat-card-header>
      Datos de producto
      <div *ngIf="!isValid" class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
      </div>
  </mat-card-header>
  <mat-card-content>
          <form #Producto="ngForm" (ngSubmit)="onSubmit(producto)">
    <div class="row">
      <div class="form-group col-sm-4">
          <label>id:</label>
          <input class="form-control col-sm-5" type="number" pattern="[0-9]*" name="id" id="id"
          placeholder="xx-xxxxxxx-x"  placeholder="id" required [(ngModel)]="producto.id">
      </div>
      <div class="form-group col-sm-4">
          <label for="lbldesc">Descripcion:</label>
          <input class="form-control col-sm-5" name="descripcion" [(ngModel)]="producto.descripcion" placeholder="descripcion" required>
      </div>
      <br>
      <div class="form-group col-sm-4">
          <label for="lblPrecioU">precio unitario:</label>
          <input class="form-control col-sm-5" name="precioU" [(ngModel)]="producto.precioU" placeholder="precio unitario" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
          <label for="lblStock">stock:</label>
          <input class="form-control col-sm-5" type="number" name="stock" [(ngModel)]="producto.stock" placeholder="stock" required>
      </div>
      <br>
      <div class="form-group col-sm-4">
          <label for="lblcantMinima">Cantidad minima:</label>
          <input type="number" class="form-control col-sm-5" name="cantidad minima" [(ngModel)]="producto.cantMin" placeholder="cantidad minima">
      </div>
      <br>
      <div class="form-group col-sm-4">
          <label for="lblCuit">Cuit del proveedor:</label>
          <input class="form-control col-sm-5" type="number" name="cuit" [(ngModel)]="producto.cuit" placeholder="cuit" required>
      </div>
    </div>
      <div class="btn">
        <button type="button" [routerLink]="['/proveedor']" routerLinkActive="router-link-active"  class="Cancelar btn btn-info">Cancelar</button>
        <button  type="submit" class="btn btn-info">Guardar</button>
      </div>
      </form>
  </mat-card-content>
</mat-card>
