<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Proveedor<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/proveedor">Lista</a></li>
          <li><a [routerLink]="['/addProveedor/:cuit/:nombre/:apellido/:telefono/:direccion/:email']" routerLinkActive="router-link-active" >Agregar Proveedor</a></li>          <!--routerLink="/addProveedor"-->
        </ul>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Cliente<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/cliente">Lista</a></li>
          <li><a [routerLink]="['/addCliente/:dni/:nombre/:apellido/:tel/:direccion/:email']" routerLinkActive="router-link-active"  >Agregar Cliente</a></li><!--routerLink="/addCliente"-->
        </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Producto<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/producto">Lista</a></li>
            <li><a [routerLink]="['/addProducto/:id/:desc/:precioU/:cantStock/:cantMin/:cuit']" routerLinkActive="router-link-active"  >Agregar Producto</a></li><!--routerLink="/addCliente"-->
          </ul>
      </li>
  </ul>
</nav>
<br>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>

