<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   <ul class="navbar-nav"> <!-- -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <!-- <li class="nav.item"> -->
        <!-- <a class="nav-link" routerLink="/Proveedor" routerLinkActive="active">Proveedor</a> -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Proveedores
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/proveedor">Listado</a>
          <a class="dropdown-item" href="#">ABM</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Clientes
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/proveedor">Listado</a>
            <a class="dropdown-item" href="#">ABM</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Productos
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/proveedor">Listado</a>
              <a class="dropdown-item" href="#">ABM</a>
            </div>
          </li>
  </ul>
</nav>


<app-proveedor></app-proveedor>
<!-- <div class="clear">
    <button type="button" [routerLink]="['/proveedor']" class="btn btn-primary">Proveedor</button>
    <button mat-button color="primary" type="button" [routerLink]="['/addProveedor']" class="btn btn-success">Agregar Proveedor</button>
  </div> -->

<!-- <router-outlet></router-outlet> -->
