<div class="container table-responsive-sm">
  <div style="text-align-last:center">
<h2>Listado de productos</h2>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr class="table-secondary">
      <th scope="col">id</th>
      <th scope="col">descripcion</th>
      <th scope="col">precio unitario</th>
      <th scope="col">cantidad minima</th>
      <th scope="col">stock</th>
      <th scope="col">cuit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productos">
        <td>{{ item.id }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.precioU }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.cantMin }}</td>
        <td>{{ item.cuit }}</td>
        <button mat-button (click)="editProducto(item)">editar</button>
        <button mat-button (click)="deleteProducto(item.cuit)">eliminar</button>
    </tr>
  </tbody>
</table>
</div>
